<!-- src/app/series/listar-series.component.html -->
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Canal</th>
        <th>Temporadas</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let serie of series">
        <td>{{ serie.id }}</td>
        <td>{{ serie.name }}</td>
        <td>{{ serie.channel }}</td>
        <td>{{ serie.seasons }}</td>
      </tr>
    </tbody>
  </table>
  <h3>Promedio de Temporadas: {{ averageSeasons | number:'1.0-2' }}</h3>